@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.scroll_box {
  overflow-y: auto;
  max-height: 460px;
}

.chat_scroll_box {
  overflow-y: auto;
  max-height: 440px;
}

.inner_content {
  height: 25px;
}

.scroll_box::-webkit-scrollbar {
  width: 6px;
}

.scroll_box::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll_box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}

.scroll_box::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.chat_scroll_box::-webkit-scrollbar {
  width: 6px;
}

.chat_scroll_box::-webkit-scrollbar-track {
  background-color: transparent;
}

.chat_scroll_box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}

.chat_scroll_box::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.switch-container {
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}